body
{
    background: #800;
    font-family: "Helvetica", Arial;
    font-size: 16px;
    margin: 0;
    text-align: center;
}
footer, header, section
{
    background: white;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    margin: 1em auto;
    padding: 1em;
    width: 90%;
}
header
{
    background: url("logo.png") no-repeat 10px center, url("mantel.jpg");
}
header h1
{
    font-size: 2em;
    text-shadow: rgba(255, 255, 255, 0.5) 2px 2px 10px;
}
#formulario
{
    background: #FCAC00;
    border-radius: 0.5em;
    color: white;
    font-size: 1.8em;
    margin: 0.5em auto;
    padding: 0.5em;
    width: 70%;
}
#formulario input
{
    border: none;
    display: block;
    margin: 0.5em auto;
    width: 60%;
}
#formulario input[type="submit"]
{
    background: #721B00;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.5) 10px -10px 10px inset;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 61%;
}
#historia
{
    background: #721800;
    border-radius: 0.3em;
    box-shadow: #000 2px 2px 10px inset;
    color: white;
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-rule: 2px dotted pink;
    -webkit-column-rule: 2px solid #ddd;
    -moz-column-rule: 2px solid #ddd;
    -ms-column-rule: 2px solid #ddd;
    -o-column-rule: 2px solid #ddd;
    column-gap: 3em;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    -ms-column-gap: 3em;
    -o-column-gap: 3em;
    padding: 1em;
    text-align: justify;
    text-shadow: rgba(0, 0, 0, 0.8) 2px 2px 10px;
}
#historia p:first-child
{
    margin-top: 0.5em;
}