@font-face
{
    font-family: "Freddito";
    src: url("KomikaTitle-webfont.eot");
    src: url("KomikaTitle-webfont.eot?#iefix") format("embedded-opentype"),
         url("KomikaTitle-webfont.woff") format("woff"),
         url("KomikaTitle-webfont.ttf") format("truetype"),
         url("KomikaTitle-webfont.svg#KomikaTitleRegular") format("svg");
}
body
{
    background: #800;
    font-family: "Helvetica", Arial;
    font-size: 16px;
    margin: 0;
    text-align: center;
}
footer, header, section
{
    background: white;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    margin: 1em auto;
    padding: 1em;
    width: 90%;
}
header
{
    background: url("logo.png") no-repeat 10px center, url("mantel.jpg");
}
header h1
{
    font-family: "Freddito";
    font-size: 2.5em;
    text-shadow: rgba(255, 255, 255, 0.5) 2px 2px 10px;
}
#formulario
{
    background: #FCAC00;
    border-radius: 0.5em;
    color: white;
    font-size: 1.8em;
    margin: 0.5em auto;
    padding: 0.5em;
    width: 70%;
}
#formulario input
{
    border: none;
    display: block;
    margin: 0.5em auto;
    width: 60%;
}
#formulario input[type="submit"]
{
    background: #721B00;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.5) 10px -10px 10px inset;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 61%;
}
#historia
{
    background: #721800;
    border-radius: 0.3em;
    box-shadow: #000 2px 2px 10px inset;
    color: white;
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-rule: 2px dotted pink;
    -webkit-column-rule: 2px solid #ddd;
    -moz-column-rule: 2px solid #ddd;
    -ms-column-rule: 2px solid #ddd;
    -o-column-rule: 2px solid #ddd;
    column-gap: 3em;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    -ms-column-gap: 3em;
    -o-column-gap: 3em;
    padding: 1em;
    text-align: justify;
    text-shadow: rgba(0, 0, 0, 0.8) 2px 2px 10px;
}
#historia p:first-child
{
    margin-top: 0.5em;
}
#pizzamaker
{
    background: #721B00;
    box-shadow: #000 0px 5px 30px inset;
    display: none;
    margin: 0;
    padding: 0.2em;
    width: 100%;
}
#pizzamaker section
{
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
#pizzamaker #ingredientes
{
    margin: 1%;
    padding: 0%;
    width: 68%;
}
#pizzamaker #ingredientes article
{
    background: #D88B00;
    border-radius: 0.3em;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    height: 280px;
    margin: 1.5% 0 1% 2%;
    padding: 0;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    vertical-align: top;
    width: 29%;
}
#pizzamaker #ingredientes article:hover
{
    background: #000 !important;
    transform: scale(1.2) rotate(-365deg);
    -webkit-transform: scale(1.2) rotate(-365deg);
}
#pizzamaker #ingredientes article:nth-child(even)
{
    background: #AC2800;
}
#pizzamaker #pizza
{
    margin: 1% 0;
    width: 24%;
}
@media screen and (max-width: 960px)
{
    #historia
    {
        column-count: 2;
    }
    #pizzamaker section
    {
        width: 45%;
    }
    #pizzamaker #ingredientes article
    {
        width: 90% !important;
    }
}